venv/

fastas_ref/DDS*
fastas_ref/RMS*
fastas_ref/TJL*

proteinas_triagem/DDS/
proteinas_triagem/RMS/
proteinas_triagem/TJL/
proteinas_triagem/links_pubchem.tsv

relatorios_busca/DDS*
relatorios_busca/TJL*
relatorios_busca/RMS*

blast_results/DDS*
blast_results/TJL*
blast_results/RMS*

blast_filtrado/DDS*
blast_filtrado/TJL*
blast_filtrado/RMS*

fastas_hits/DDS*
fastas_hits/TJL*
fastas_hits/RMS*

fastas_melhores_hits/DDS*
fastas_melhores_hits/TJL*
fastas_melhores_hits/RMS*